 <div class="row row justify-content-md-center">
  <div class="col-md-7">
    <div class="card">
      <h4 class="card-header">Edit a League!</h4>
      <div class="card-body">
      <%= render partial: "form", locals: { button_text: 'Update League!' } %>
      </div>
    </div>
  </div>
</div>
