<div class="row justify-content-md-center">
  <div class="col-md-7">
    <div class="card">
      <h4 class="card-header">Create a New Player!</h4>
      <div class="card-body">
        <%= render partial: 'form', locals: { button_text: 'Create Player!' } %>
      </div>
    </div>
  </div>
</div>
