div.container.main-container {
  margin-top: 25px;
}

.navbar-brand > span {
  color: darkgoldenrod;
  font-weight: bold;
}

a.custom-link {
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.league-list-group {
  margin-top: 30px;
}

.league-button {
  margin-bottom: 10px
}

.new-season-btn {
  cursor: pointer;
}

.league-index__detail-actions, .league-name-subtitle-text,
.league-name-subtitle-label, .league-season-number-label {
  color: darkgray;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.2px;
  margin-bottom: 3px;
  &:hover {
    text-decoration: none;
  }
}

.league-name-subtitle-text, .league-season-number-text {
  color: black;
}

.schedule-link {
  display: inline-block;
  &.scheduled-disabled {
    cursor: not-allowed;
  }
}

.no-games {
  pointer-events: none;
}

form.new-season {
  display: inline-block;
}

.no-user {
  display: none;
}

.league-title {
  color: darkgray;
  &:hover {
    color: lightgray;
    text-decoration: none;
  }
}

div.row.content-row {
  margin: 0px;
}

.finishing-place-badge {
  margin-right: 10px;
}

.pad-btn, .stat-card {
  margin-bottom: 10px;
}

.season_leader, .season_leader_name {
  text-transform: uppercase;
}

span.stat {
  text-transform: uppercase;
  font-weight: bold;
  color: dimgray;
}

.league__footer-links {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: darkgray;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.season-row:hover, .game-row:hover, .player-row:hover {
  cursor: pointer;
}

p.participant_show-stat, p.game_show-stat, p.season_show-stat {
  text-transform: uppercase;
  font-size: 0.9em;
  color: darkgray;
  margin-bottom: 0px;
  &.participant_show-title, &.season_show-title {
    color: darkgoldenrod;
    font-weight: 500;
  }
}

ul.participant_show-season {
  margin-bottom: 20px;
}

