div.container.main-container {
  margin-top: 25px;
}

a.custom-link {
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.league-list-group {
  margin-top: 30px;
}

form.new-season {
  display: inline-block;
}

.new-season-btn {
  cursor: pointer;
}
